<!-- partials/navbar.html -->
<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <a href="index.html">
        <img src="assets/images/appcopio.svg" alt="AppCopio Logo" class="logo-img">
      </a>
    </div>
    <ul class="nav-menu">
      <li class="nav-item"><a href="index.html" class="nav-link">Inicio</a></li>
      <li class="nav-item"><a href="sobre-nosotros.html" class="nav-link">Sobre Nosotros</a></li>
      <li class="nav-item"><a href="contactanos.html" class="nav-link">Contáctanos</a></li>
    </ul>
    <div class="hamburger"><span class="bar"></span><span class="bar"></span><span class="bar"></span></div>
  </div>
</nav>
